<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">LooseLeaf</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/my-resources">My Leaves</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/resources/create">Create Leaf</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Categories
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Administrative</a></li>
            <li><a class="dropdown-item" href="#">Arts & Crafts</a></li>
            <li><a class="dropdown-item" href="#">Computer Science</a></li>
            <li><a class="dropdown-item" href="#">Culinary & Nutrition</a></li>
            <li><a class="dropdown-item" href="#">Education Resources</a></li>
            <li><a class="dropdown-item" href="#">Engineering</a></li>
            <li><a class="dropdown-item" href="#">Games</a></li>
            <li><a class="dropdown-item" href="#">History</a></li>
            <li><a class="dropdown-item" href="#">Language</a></li>
            <li><a class="dropdown-item" href="#">Literature</a></li>
            <li><a class="dropdown-item" href="#">Math</a></li>
            <li><a class="dropdown-item" href="#">Medicine</a></li>
            <li><a class="dropdown-item" href="#">Mental Health</a></li>
            <li><a class="dropdown-item" href="#">Personal</a></li>
            <li><a class="dropdown-item" href="#">Political Science</a></li>
            <li><a class="dropdown-item" href="#">Science</a></li>
            <li><a class="dropdown-item" href="#">Sports & Fitness</a></li>
            <li><a class="dropdown-item" href="#">Technology</a></li>
            <li><a class="dropdown-item" href="#">Other</a></li>
          </ul>
        </li>
      </ul>

      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    </div>
  </div>
</nav>


<div class="header-user">

<%# if (user.name ===null || user.name ===undefined) { %>
<div class="login-register">
  <a href="/login_register">
    <button type="button" class="btn btn-light">Register</button>
  </a>
  <a href="/login_register">
    <button type="button" class="btn btn-outline-light">Log In</button>
  </a>
</div>
  <%# } else { %>

<!-- <div class="btn-group">
  <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    username
  </button>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="/profiles/:profile_id">My Profile</a></li>
    <li><a class="dropdown-item" href="profiles/:profile_id/edit">Edit Profile</a></li>
    <li><a class="dropdown-item" href="/resources">My Leaves</a></li>
    <li><a class="dropdown-item" href="/resources/create">Create Leaf</a></li>
    <li>
      <hr class="dropdown-divider">
    </li>
    <li><a class="dropdown-item" href="/logout">Log Out</a></li>
  </ul>
</div> -->

<%# } %>

</div>
