<div class="header-title">
  <a href="/index">
    <h1>LooseLeaf</h1>
  </a>
</div>

<nav class="header-menu">
<div class="btn-group">
  <button type="button" class="btn btn-outline-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    Search Categories
  </button>
  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <% for (const category of categories) { %>
      <li>
        <a class="dropdown-item" href="/resources/category/<%= category.id %>">
          <%= category.name %>
        </a>
      </li>
      <% } %>
  </ul>
  </li>
  </ul>
</div>
</nav>

<nav class="header-search">
<form class="search" action="/resources/search" method="GET">
    <input name="query" type="text" id="search" placeholder="Search..."></input>
  <button type="submit" class="btn btn-light"><i class="bi bi-search"></i></button>
</form>

</nav>

<div class="header-user">
<% if (id) { %>
  <div class="btn-group">
    <button type="button" class="btn btn-outline-success dropdown-toggle" data-bs-toggle="dropdown"
      aria-expanded="false">
      <%= name %>
    </button>
    <ul class="dropdown-menu">
      <li>
        <a class="dropdown-item" href="/resources/my_resources/<%= id %>">My Leaves</a>
      </li>
      <li>
        <a class="dropdown-item" href="/resources/create">Create Leaf</a>
      </li>
      <li>
        <a class="dropdown-item" href="/profiles/:id">Edit Profile</a>
      </li>
      <hr class="dropdown-divider" />
      <li>
        <form action="/profiles/logout" method="POST">
          <button class="dropdown-item" type="submit">Log Out</button>
        </form>
      </li>
    </ul>
  </div>
  <%} else { %>
    <div class="login-register">
      <a href="/login_register">
        <button type="button" class="btn btn-light">Register</button>
      </a>
      <a href="/login_register">
        <button type="button" class="btn btn-outline-light">Log In</button>
      </a>
    </div>
    <% } %>
</div>
