<div class="header-title">
  <a href="/index">
    <h1>LooseLeaf</h1>
  </a>
</div>

<nav class="header-menu">
  <a href="/create-resource">Create Leaf</a> | <a href="/my-resources">My
      Leaves</a>
</nav>

<div class="header-user">
  <a href="/profile">Username</a> <a href="/profile"><img src="http://placekitten.com/50/50"
      class="profile-picture"></a>
</div>
