body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Work Sans', sans-serif;
  background: #ffffff;
}

a:link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

a:visited {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

a:active {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

h1 {
  font-family: 'Nothing You Could Do', cursive;
  color: #540b0e;
}

.header {
  display: flex;
  position: fixed;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100px;
  width: 100%;
  padding: 1em;
  background-color: #e09f3e;
  color: #335c67;
  z-index: 1;
}

.header-menu a {
  color: #335c67;
}

.header-user {
  display: flex;
  align-items: center;
}

.header-user a {
    color: #540b0e;
}

.profile-picture {
  margin-left: 10px;
}
