body {
  min-height: 100vh;
  font-family: 'Work Sans', sans-serif;
  background: #ffffff;
}

a:link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

a:visited {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

a:hover {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

a:active {
  text-decoration: none;
  color: black;
  font-weight: 600;
}


/////////header navbar/////////


.header {
  display: flex;
  position: fixed;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  height: 100px;
  width: 100%;
  padding: 1em;
  background-color: #e09f3e;
  color: #335c67;
  z-index: 1;
}

.header-title a {
  font-family: 'Nothing You Could Do', cursive;
  color: #540b0e;
  font-size: 4em;
}

.header-menu a {
  color: #335c67;
}

.header-menu {
  font-size: 1.3em;
}

.header-user {
  display: flex;
  align-items: center;
}

.header-user a {
  color: #540b0e;
}

////////Resource Containers///////

.leaves-container {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  position: absolute;
  top: 120px;
}

.leaf-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 400px;
  height: 650px;
  border: #335c67 solid 5px;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  margin: 1em;
}

.leaf-text {
  overflow: ellipsis;
}

.title h2 {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  color: #9e2a2b;
  font-size: 1.9em;
  margin-top: .5em;
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.resource-url {
  font-size: .7em;
  height: 1.5em;
  width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.description p {
  margin-top: 1em;
  margin-bottom: 1em;
  height: 13em;
  width: 350px;
  overflow: hidden;
}

.leaf-footer {
  display: flex;
  justify-content: space-around;
  align-self: flex-end;
  border-top: #335c67 solid 2px;
  padding-top: .5em;
}

//////////Login Page //////////////


.login-register-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
  align-content: center;
  top: 250px;
}

  /////////login container/////////

  .login-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    background-color: #e09f3e;
    margin-right: 80px;
    align-items: center;
  }

  header.login {
    font-family: 'Work Sans', sans-serif;
    color: #9e2a2b;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
  }

  #login-email {
    height: 25px;
    width: 90%;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    color: #540b0e;
    margin-bottom: 25px;
    white-space: nowrap;
    overflow-x: hidden;
  }

  #login-password {
    height: 25px;
    width: 90%;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    color: #540b0e;
    white-space: nowrap;
    overflow-x: hidden;
  }

  .login-button {
    display: flex;
    margin-left: auto;
    margin-top: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    font-family: 'Work Sans', sans-serif;
    background-color: #9e2a2b;
    color: #e09f3e;
    font-weight: bold;
    border: none;
  }

  .login-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
  }


  // register container//

  .register-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 200px;
    background-color: #e09f3e;
    align-items: center;
  }

  header.register {
    font-family: 'Work Sans', sans-serif;
    color: #9e2a2b;
    font-size: 20px;
    font-weight: bold;
    margin: 10px;
  }

  #name {
    height: 25px;
    width: 90%;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    color: #540b0e;
    white-space: nowrap;
    overflow-x: hidden;
  }

  #register-email {
    height: 25px;
    width: 90%;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    color: #540b0e;
    margin: 10px
  }

  #register-password {
    height: 25px;
    width: 90%;
    margin: auto;
    font-family: 'Work Sans', sans-serif;
    color: #540b0e;
    white-space: nowrap;
    overflow-x: hidden;
  }

  .register-button {
    display: flex;
    margin-left: auto;
    margin-top: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    font-family: 'Work Sans', sans-serif;
    background-color: #9e2a2b;
    color: #e09f3e;
    font-weight: bold;
    border: none;
  }

  .register-text {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

  .navbar-brand {
    font-family: 'Nothing You Could Do', cursive;
    color: #540b0e;
    font-size: 4em;
  }

  // resource page
  .resource-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // flex-wrap: wrap;
    width: 90%;
    position: absolute;
    top: 120px;
  }


  //// update account/////////

  .account-container {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    background-color: #e09f3e;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 200px
  }

  .account-text {
    display: flex;
    flex-direction: column;
    margin: auto;
  }

.account {
    font-family: 'Work Sans', sans-serif;
    color: #9e2a2b;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
  }

  #update-email {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .update-button {
    display: flex;
    margin-left: auto;
    margin-top: auto;
    margin-right: 15px;
    margin-bottom: 15px;
    font-family: 'Work Sans', sans-serif;
    background-color: #9e2a2b;
    color: #e09f3e;
    font-weight: bold;
    border: none;
  }
